
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
           
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">CloudFuze</a></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbRippleRadius>Business<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbRippleRadius>Personal</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbRippleRadius>Pricing</a>
          </li>

          <!-- Dropdown -->
          <!-- <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
              Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
              </div>
          </li> -->

     </ul> 
      <!-- Links -->

      <!-- Search form -->
      <form class="form-inline  waves-light" mdbRippleRadius>
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<br>
<br>
<div class="container" mb-1>
    <div class="row">
    <div class="col-3"></div>     
    <div class="col-6">
    <!-- Login form -->
      <form>
        <p class="h5 text-center mb-4">Sign in</p>

        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="defaultForm-email" class="form-control" mdbActive>
            <label for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
            <label for="defaultForm-pass">Your password</label>
        </div>

        <div class="text-center">
            <button class="btn btn-default waves-light" mdbRippleRadius>Login</button>
        </div>
      </form>
      <div class="col-3"></div>  
    </div>
    </div>
</div>  
<!-- Login form -->
      
 